# Ejercicio 6

In [88]:
import psycopg2 as pc

conexion = pc.connect(user="postgres",
                      password="sepatsv",
                      host="127.0.0.1",
                      port="5432",
                      database="examen1soraide2"
    )
cursor = conexion.cursor()
sql="select u.ci, u.usuario, pr.nombre, pr.fechadenacimiento,pr.departamento from usuario u, persona pr where pr.ci like u.ci"
cursor.execute(sql)
registros = cursor.fetchall()

for registro in registros:
    print("ci ", registro[0])
    print("usuario ", registro[1])
    print("nombre ", registro[2])
    print("fecha de nacimiento", registro[3])
    print("departamento", registro[4])

ci  10
usuario  docente
nombre  MOISES SILVA
fecha de nacimiento 1980-06-15
departamento 02
ci  11
usuario  estudiante
nombre  NAIRA SORAIDE
fecha de nacimiento 1999-03-25
departamento 01
ci  12
usuario  estudiante
nombre  ANA LOPEZ
fecha de nacimiento 2000-04-13
departamento 01
ci  13
usuario  estudiante
nombre  JUAN PEREZ
fecha de nacimiento 1999-10-06
departamento 02
ci  14
usuario  estudiante
nombre  LUIS PAREDES
fecha de nacimiento 2000-01-12
departamento 02
ci  15
usuario  estudiante
nombre  LUCIA MAMANI
fecha de nacimiento 2000-01-19
departamento 03
ci  16
usuario  estudiante
nombre  JUAN MOLLO
fecha de nacimiento 1999-05-19
departamento 03
ci  17
usuario  estudiante
nombre  LUZ HUANCA
fecha de nacimiento 2000-07-05
departamento 04
ci  18
usuario  estudiante
nombre  SAMUEL LOZA
fecha de nacimiento 1999-10-06
departamento 04
ci  19
usuario  estudiante
nombre  ALBERT APAZA
fecha de nacimiento 1999-10-20
departamento 05
ci  20
usuario  estudiante
nombre  LUISA ZEBALLOS
fecha de nacimiento 2000-11-07
departamento 05
ci  21
usuario  estudiante
nombre  MIGUEL QUISPE
fecha de nacimiento 1999-05-19
departamento 06
ci  22
usuario  estudiante
nombre  MAGALI VILLCA
fecha de nacimiento 1999-05-19
departamento 06
ci  23
usuario  estudiante
nombre  MANUEL QUISPE
fecha de nacimiento 2000-10-05
departamento 07
ci  24
usuario  estudiante
nombre  ADRIAN VERNAL
fecha de nacimiento 1999-10-20
departamento 07
ci  25
usuario  estudiante
nombre  TANIA GARCIA
fecha de nacimiento 2000-01-12
departamento 08
ci  26
usuario  estudiante
nombre  RITA APAZA
fecha de nacimiento 2001-10-05
departamento 08
ci  27
usuario  estudiante
nombre  RENE MARTINEZ
fecha de nacimiento 1999-07-05
departamento 09
ci  28
usuario  estudiante
nombre  PEDRO RAMOS
fecha de nacimiento 1999-05-19
departamento 09

Insercion de dos estudisntes:

In [89]:
sql="insert into usuario values(31,31,'estudiante'); insert into usuario values(30,30,'estudiante');insert into persona values(31,'LUIS LARA','1980-06-15','07');insert into persona values(30,'JUAN PERES','1999-03-25','05');"
cursor.execute(sql)
sql="select u.ci, u.usuario, pr.nombre, pr.fechadenacimiento,pr.departamento from usuario u, persona pr where pr.ci like u.ci"
cursor.execute(sql)
registros = cursor.fetchall()

for registro in registros:
    print("ci ", registro[0])
    print("usuario ", registro[1])
    print("nombre ", registro[2])
    print("fecha de nacimiento", registro[3])
    print("departamento", registro[4])
cursor.close()
conexion.close()

ci  10
usuario  docente
nombre  MOISES SILVA
fecha de nacimiento 1980-06-15
departamento 02
ci  11
usuario  estudiante
nombre  NAIRA SORAIDE
fecha de nacimiento 1999-03-25
departamento 01
ci  12
usuario  estudiante
nombre  ANA LOPEZ
fecha de nacimiento 2000-04-13
departamento 01
ci  13
usuario  estudiante
nombre  JUAN PEREZ
fecha de nacimiento 1999-10-06
departamento 02
ci  14
usuario  estudiante
nombre  LUIS PAREDES
fecha de nacimiento 2000-01-12
departamento 02
ci  15
usuario  estudiante
nombre  LUCIA MAMANI
fecha de nacimiento 2000-01-19
departamento 03
ci  16
usuario  estudiante
nombre  JUAN MOLLO
fecha de nacimiento 1999-05-19
departamento 03
ci  17
usuario  estudiante
nombre  LUZ HUANCA
fecha de nacimiento 2000-07-05
departamento 04
ci  18
usuario  estudiante
nombre  SAMUEL LOZA
fecha de nacimiento 1999-10-06
departamento 04
ci  19
usuario  estudiante
nombre  ALBERT APAZA
fecha de nacimiento 1999-10-20
departamento 05
ci  20
usuario  estudiante
nombre  LUISA ZEBALLOS
fecha de nacimiento 2000-11-07
departamento 05
ci  21
usuario  estudiante
nombre  MIGUEL QUISPE
fecha de nacimiento 1999-05-19
departamento 06
ci  22
usuario  estudiante
nombre  MAGALI VILLCA
fecha de nacimiento 1999-05-19
departamento 06
ci  23
usuario  estudiante
nombre  MANUEL QUISPE
fecha de nacimiento 2000-10-05
departamento 07
ci  24
usuario  estudiante
nombre  ADRIAN VERNAL
fecha de nacimiento 1999-10-20
departamento 07
ci  25
usuario  estudiante
nombre  TANIA GARCIA
fecha de nacimiento 2000-01-12
departamento 08
ci  26
usuario  estudiante
nombre  RITA APAZA
fecha de nacimiento 2001-10-05
departamento 08
ci  27
usuario  estudiante
nombre  RENE MARTINEZ
fecha de nacimiento 1999-07-05
departamento 09
ci  28
usuario  estudiante
nombre  PEDRO RAMOS
fecha de nacimiento 1999-05-19
departamento 09
ci  31
usuario  estudiante
nombre  LUIS LARA
fecha de nacimiento 1980-06-15
departamento 07
ci  30
usuario  estudiante
nombre  JUAN PERES
fecha de nacimiento 1999-03-25
departamento 05